p{
    color: darkmagenta;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h2{
    font-family:'Roboto', sans-serif; 
    font-size: 35px;  /*px is 1/96th of an inch*/ 
    line-height: 3.0em;
}
span{
    font-weight: bold;
    font-style:italic;
}