input{
    display: block;
}
.container{
    margin: 34px 24px;
    display: block;
    width: 233px;
    margin: auto;
}
input[type="text"]{
    padding: 23px;
    border: 2px solid red;
}
a[target]{
    font-size: 23px;
    color:brown ;
}
a[target="_self"]{
    font-size: 23px;
    color:burlywood ;
}
input[type=email]{
    color: yellow;
    border: 2px solid black;
}
li:nth-child(3){
    color: yellow;
}
li:nth-child(3n+0){
    color: red;
}
li:nth-child(even){
    background-color: cadetblue;
}