.box{
    font-size: 25px;
    text-align: center;
    background-color: red;
    color: white;
    display: none;
}
@media only screen and (max-width: 300px){
    #box1{
        display: block;
        background-color: red;
    }
}
@media only screen and  (min-width: 300px) and (max-width:500px){
    #box2{
        display: block;
        background-color: green;
    }
}
@media only screen and (min-width: 500px) and (max-width:800px){
    #box3{
        display: block;
        background-color: crimson;
    }
}
@media only screen and (min-width: 800px){
    #box4{
        display: block;
        background-color: blueviolet;
    }
}